*{
    margin: 0;
    padding: 0;
    list-style: none ;
}

body {
    color: hsl(0, 0%, 78%);
    background: linear-gradient(180deg, #040918 0%, #091540 100%);
    min-height: 100vh; /* para que cubra toda la pantalla */
    margin: 0; /* por si el navegador mete márgenes por defecto */
    font-family: 'Noto Sans', sans-serif; /* por si también querés seguir la guía de tipografía */
}



header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2%;
    width: 100%;
}
header nav{
    padding: 1% 2%;
    background-color:hsl(225, 23%, 24%);
    width: 80%;
    border-radius: 10px;
}
header ul{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
header li{
    display: flex;
    align-items: center;
    padding: 1%;
}
header nav ul li:last-child{
    background-color: hsl(226, 25%, 17%);
    border-radius: 10px;
}
#sol-icono{
    width: 20px;
    height: 20px;
    margin: 5px;
}

.menu-primero{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2%;
    width: 85%;
    box-sizing: border-box;
}
.title-menu{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.menu-nav{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
}
.menu-nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 80%;
    gap: 12px;
    box-sizing: border-box;
    margin-top: 2%;
}
.menu-nav ul li{
    border-radius: 18px;
    padding:2% 4%;
    background-color:hsl(225, 23%, 24%);
    
}
.menu-nav ul li a{
    text-decoration: none;
    color: inherit;
}
#menu-todas{
    background-color: hsl(3, 77%, 44%);
    color: hsl(227, 75%, 14%);
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4%;
}   

.extenciones-contenedor{
   display: grid;
   grid-template-columns: auto;
   justify-items: center;
   width: 100%;
    
}
.extencion-item{
    background-color: hsl(226, 25%, 17%);
    border: 1px solid hsl(226, 11%, 37%);
    padding:5%;
    border-radius: 15px;
    margin: 2% 0%;
    width: 80%;

}

.extencion-primero{
    display: flex;
    align-items: start;
    padding-bottom: 3%;
}
.extencion-primero div{
    padding: 0 1%;
}
.extencion-primero p{
    max-width: 80%;
}
.extencion-primero p, .extencion-primero h3, .extencion-primero img{
    padding: 2%;
    padding-top: 0;
}
.extencion-segundo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 0 1% 1%;
}
.extencion-segundo #btn-remover{
    padding: 3% 5%;
   border-radius: 20px;
    border: none;
    color: white;
    background-color: inherit;
    border: 1px solid hsl(226, 11%, 37%);
}
#btn-remover:focus{
    border: 2px solid hsl(3, 77%, 44%);
    background-color: hsl(226, 11%, 37%);
}

.btn-activar{
    width: 35px;
    height: 18px;
    background-color: hsl(3, 71%, 56%);
    border-radius: 20px;
    padding: 1.5px;
    display: flex;
    align-items: center;
    justify-content: end;
}
.btn-activar div{
    width: 20px;
    height: 18px;
    border-radius: 50px;
    background-color:white;
}
@media screen and (min-width:1220px) {
   .extenciones-contenedor{
        grid-template-columns: auto auto auto;
   }
   .menu-primero{
      flex-direction: row;
      padding-bottom: 0;
      width: 100%;
   }
   .title-menu{
    justify-content: left;
   }
   .menu-nav,.menu-nav ul{
    justify-content: end;
   }
   header nav{
    width: 85%;
   }
}